
html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


* {
  box-sizing: border-box;
}


body {

  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;

  background: #0f172a;

  color: white;

}


.home {

  min-height: 100vh;

  background:
    linear-gradient(
      to bottom right,
      #0f172a,
      #111827
    );

}


.navbar {

  height: 80px;

  display: flex;

  align-items: center;

  padding: 0 40px;

  background: #111827;

  border-bottom:
    1px solid #1e293b;

}

.logo {

  font-size: 30px;

  font-weight: 700;

  color: #38bdf8;

}



.hero {

  text-align: center;

  padding: 50px 20px;

}

.hero h2 {

  font-size: 40px;

  margin-bottom: 20px;

  color: white;

}

.hero p {

  font-size: 18px;

  color: #94a3b8;

  max-width: 700px;

  margin: auto;

  line-height: 1.6;

}


.main-container {

  display: flex;

  gap: 25px;

  padding: 20px 40px 40px;

}


.left-panel {

  width: 35%;

  display: flex;

  flex-direction: column;

  gap: 20px;

}

.right-panel {

  width: 65%;

  display: flex;

  flex-direction: column;

  gap: 20px;

}



.card {

  background: #1e293b;

  padding: 25px;

  border-radius: 18px;

  box-shadow:
    0 4px 20px rgba(0,0,0,0.3);

}



input {

  width: 100%;

  margin-top: 10px;

  padding: 12px;

  border: none;

  border-radius: 10px;

  background: #0f172a;

  color: white;

  font-size: 15px;

  outline: none;

}



.compare-section {

  display: flex;

  justify-content: center;

}

.compare-btn,
.live-btn {

  border: none;

  padding: 14px 28px;

  border-radius: 12px;

  font-size: 16px;

  font-weight: 700;

  cursor: pointer;

  transition: 0.3s;

}

.compare-btn {

  background:
    linear-gradient(
      135deg,
      #22c55e,
      #16a34a
    );

  color: white;

}

.live-btn {

  background:
    linear-gradient(
      135deg,
      #38bdf8,
      #0ea5e9
    );

  color: black;

}

.compare-btn:hover,
.live-btn:hover {

  transform: translateY(-3px);

}

.live-btn-container {

  display: flex;

  justify-content: center;

}


.loading,
.error {

  padding: 18px;

  border-radius: 12px;

  text-align: center;

  font-weight: 600;

}

.loading {

  background: #1e40af;

}

.error {

  background: #dc2626;

}



@media (max-width: 992px) {

  .main-container {

    flex-direction: column;

  }

  .left-panel,
  .right-panel {

    width: 100%;

  }

}

@media (max-width: 768px) {

  .hero h2 {

    font-size: 28px;

  }

  .logo {

    font-size: 22px;

  }

}